<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Application</title>

    <link rel="stylesheet" href="./template.css" />

    <style></style>
  </head>
  <body>
    {{#each applicant}}
    <main>
      <!-- <img src="./assets/img/icon.jpg" alt="" width="200" height="300" />

      <img
        src="./assets/img/icon.jpg"
        alt=""
        width="200"
        height="300"
        class="hidden"
      />

      <img
        src="./assets/img/icon.jpg"
        alt=""
        width="200"
        height="300"
        class="hidden"
      /> -->

      <div class="myImg" style="width: 200; height: 600"></div>

      <section id="basic-info" class="">
        <!-- Full Name -->
        <div class="main-container">
          <span>Full Name : </span>
          <b>{{this.fullName}}</b>
        </div>

        <!-- BirthDate -->
        <div class="main-container">
          <span>BirthDate : </span>
          <b>{{this.birthDate}}</b>
        </div>

        <!-- Gender -->
        <div class="main-container">
          <span>Gender : </span>
          <b>{{this.gender}}</b>
        </div>

        <!-- Location -->
        <div class="main-container">
          <span>Location : </span>
          <b>{{this.location}}</b>
        </div>

        <!-- Phone Number -->
        <div class="main-container">
          <span>Phone Number : </span>
          <b>{{this.phoneNumber}}</b>
        </div>

        <!-- Department-->
        <div>
          <span>Department : </span>
          <b>{{this.departmentSelection}}</b>
        </div>

        <!-- Military -->
        <div>
          <span>Family in Military Service : </span>
          <b>{{this.militaryFamilyStatus}}</b>
        </div>

        <!-- Uni -->
        <div>
          <span>Family in University Service : </span>
          <b>{{this.universityFamilyStatus}}</b>
        </div>

        <!-- Exam-->
        <div>
          <span>Proficiency Test : </span>
          <b>{{this.proficiencyTest}}</b>
        </div>

        <!-- Transcript -->
        <div>
          <div><b>School Transcript :</b></div>
          <div>{{this.schoolTranscript}}</div>
        </div>

        <!-- Main Essay -->
        <div>
          <div><b>Main Essay :</b></div>
          <div>{{this.mainEssay}}</div>
        </div>

        <!-- Supplement Essay -->
        <div>
          <div><b>Supplement Essay :</b></div>
          <div>{{this.extraEssay}}</div>
        </div>

        <!-- Letter Essay -->
        <div>
          <div><b>Recommendation Letter :</b></div>
          <div>{{this.recommendationLetter}}</div>
        </div>

        <!-- Certification Essay -->
        <div>
          <div><b>Extra Certification :</b></div>
          <div>{{this.extraCertification}}</div>
        </div>

        <!-- Date -->
        <div>
          <b><em>{{this.date}}</em></b>
        </div>
      </section>
    </main>
    {{/each}}
  </body>
</html>
