@font-face {
  font-family: "Khula-regular";
  src: url("./assets/Khula/khula-regular.otf");
}

* {
  margin: 0;
  box-sizing: border-box;
}

main {
  padding: 0 10rem;
}

:root {
  --clr-one: white;
  --clr-two: black;

  font-family: "Khula-regular";
}

section {
  padding: 2rem;
}

#basic-info {
  display: flex;
  background: var(--clr-one);
}

.profile-image {
  width: 250px;
  aspect-ratio: 3/4;
  margin-right: 2rem;

  background: var(--clr-two);
}

label {
  display: inline-block;
}

h3 + label {
  margin-top: 1.2rem;
}

.basic-info__description {
  display: flex;
  gap: 4rem;
}

#application-info {
  background: var(--clr-two);
  color: var(--clr-one);
}

#application-info > label {
  background: var(--clr-one);
  color: var(--clr-two);

  display: block;
}

#application-info > * + label {
  margin-top: 2rem;
}

.large-label {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.large-label--smaller {
  font-size: 1.2rem;
}

.transcript,
.essay > div,
.testing > div {
  width: 100%;
  aspect-ratio: 16/9;

  background: var(--clr-one);
}

:is(.essay, .testing) > label:last-of-type {
  margin-top: 1rem;
}

.myImg {
  width: 200;
  height: 300;
  background-color: aqua;
}

.main-container {
  margin-top: 30px;
}

img {
  -webkit-print-color-adjust: exact;
}
.hidden {
  display: none;
}
